body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 60%;
  height: 90vh;
  gap: 5px;
  border-radius: 1%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
  margin: 10px;
  padding: 10px;
  padding-bottom: 150px;
  gap: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1%;
}

.option-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.option-title h2 {
  margin: 0px;
  font-size: 30px;
}

.option-titleinfo {
  font-size: 15px;
  color: #999;
}

.option-image,
.option-name,
.option-phone,
.option-email,
.option-color {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
}

.result {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  gap: 5px;
  width: 60%;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1%;
  overflow-y: auto;
}

.result-default {
  font-size: 15px;
  color: #999;
  margin: auto;
}

.result-card {
  display: flex;
  border-left: 4px solid black;
  align-items: center;
  gap: 15px;
  border-radius: 1%;
  width: 80%;
  padding: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.result-card p {
  margin: 0px;
}
