* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(221, 221, 221);
}

p {
  font-size: 15px;
  color: rgb(125, 125, 125);
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 90vh;
  display: flex;
  justify-content: flex-start;

  background-color: rgb(246, 246, 246);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

form {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 25px;
  padding: 50px;

  background-color: rgb(255, 255, 255);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.file-label {
  width: 100px;
  height: 30px;
  border: 2px solid rgb(221, 221, 221);
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

#file-name {
  font-size: 14px;
  color: rgb(125, 125, 125);
}

.box-file {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#name,
#number,
#email {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 10px;
}

#color {
  width: 60px;
  height: 30px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 10px;
  cursor: pointer;
}

button {
  width: 100%;
  height: 40px;
  background-color: rgb(53, 77, 255);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(53, 77, 255, 0.8);
}

#result {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;

  background-color: rgb(246, 246, 246);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  overflow-y: auto;
}

.card {
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  padding: 40px;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  flex-shrink: 0;
}

.profile p {
  font-size: 11px;
  font-weight: bold;
  color: rgb(125, 125, 125);
}

.result-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}

.result-name {
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: bold;

  padding-bottom: 13px;
}

.result-number,
.result-email {
  font-size: 13px;
  color: rgb(64, 64, 64);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
}
