/* 매우중요중요로딩 */
@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
#splash-screen {
    background-color: yellow;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 0.25s;
}

/* global */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    cursor: pointer;
}
hr {
    width: 90%;
    border: 1px solid #f0f0f0;
}
article {
    display: flex;
    align-items: center;
}
article span {
    color: gray;
}

/* layout */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* aside */
aside {
    display: none;
}
aside ul {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d9d9d9;
    padding: 1rem;
    text-align: center;
    height: 100%;
    gap: 2rem;
}
aside ul li a {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.875rem;
}

@media (min-width: 968px) {
    .layout {
        display: flex;
        flex-direction: row;
        min-height: 100vh;
    }
    .layout footer {
        display: none;
    }
    aside {
        display: flex;
    }
}

/* more-notice */
#more-notice {
    flex-direction: column;
    gap: 3rem;
}

/* container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    text-align: center;
}
.container figure figcaption {
    margin-top: 0.5rem;
}

/* header */
header {
    display: flex;
    padding: 1.5rem;
    align-items: center;
}
h1 {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 700;
}
nav {
    display: flex;
    gap: 2rem;
}

section {
    display: flex;
    padding: 1.5rem;
    border-radius: 25%;
    gap: 1rem;
}
section img {
    border-radius: 25%;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}
main ul {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
}
main ul li {
    display: flex;
    gap: 1rem;
}
main ul li img {
    border-radius: 25%;
}
.talk-content {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
h2 {
    font-size: 1.25rem;
    font-weight: 500;
}
.talk-content p {
    font-size: 0.825rem;
    color: gray;
}
.talk-notice {
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: 0.75rem;
    justify-content: space-between;
    color: gray;
}
.talk-notice div {
    display: flex;
    justify-content: flex-end;
}
.talk-notice div p {
    border-radius: 100%;
    text-align: center;
    color: white;
    padding: 0.25rem;
    aspect-ratio: 1/1;
    background-color: indianred;
}

/* footer */
footer ul {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #d9d9d9;
    padding: 1rem;
    text-align: center;
}
footer ul li a {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.875rem;
}
