.box1{
  width: 200px;
  height: 100px;
  background-color: aqua;
}

.box1 h3,
.box2 h3,
.box3 h3{
  text-align: center;
  padding: 30px;
  margin: 20px;
}


.box2{
  width: 200px;
  height: 100px;
  background-color: blue;
}

.box3{
  width: 400px;
  height: 100px;
  background-color: rgb(174, 215, 79);
}





