section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
}

.btn {
  border: none;
  padding: 30px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgba(110, 54, 179, 0.852);
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px rgba(54, 15, 88, 0.299);
}
